In [6]:
import numpy as np
import pandas as pd

In [7]:
df_vote=pd.read_csv('CongressionalVotingID.shuf.lrn.csv',index_col="ID")
df_vote = df_vote.applymap(lambda x: 1 if x == 'y' else 0 if x == 'n' else x)
df_vote=df_vote.replace('democrat',1)
df_vote=df_vote.replace('republican',0)
df_vote=df_vote.replace('unknown',0)
df_vote.head()

df_vote.shape

y_train=df_vote.iloc[:,0]
X_train=df_vote.iloc[:,1:]
X_train.shape

(218, 16)

In [8]:
y_test=pd.read_csv('CongressionalVotingID.shuf.sol.ex.csv',index_col="ID")
y_test=y_test.replace('democrat',1)
y_test=y_test.replace('republican',0)
y_test

     class
ID
102      1
413      1
30       1
298      1
95       1
..     ...
179      1
256      1
278      1
264      1
226      1

[217 rows x 1 columns]

In [9]:
#Create x_val
df_test=pd.read_csv('CongressionalVotingID.shuf.tes.csv')
df_test = df_test.applymap(lambda x: 1 if x == 'y' else 0 if x == 'n' else x)
df_test=df_test.replace('unknown',0)
X_test=df_test.iloc[:, 1:]
X_test

,handicapped-infants,water-project-cost-sharing,adoption-of-the-budget-resolution,physician-fee-freeze,el-salvador-aid,religious-groups-in-schools,anti-satellite-test-ban,aid-to-nicaraguan-contras,mx-missile,immigration,synfuels-crporation-cutback,education-spending,superfund-right-to-sue,crime,duty-free-exports,export-administration-act-south-africa
0,1,0,1,0,1,1,1,0,0,0,1,0,0,1,0,1
1,0,0,0,1,1,1,0,0,0,1,0,1,1,1,0,1
2,1,1,1,0,0,0,1,1,1,0,1,0,0,0,1,1
3,1,1,1,0,0,1,1,1,1,1,0,0,0,0,1,0
4,1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,0,0,1,0,0,0,1,1,1,1,1,0,0,0,1,0
213,1,0,1,0,0,0,1,1,1,1,0,0,0,1,1,1
214,0,0,1,1,1,1,1,1,0,1,0,0,0,1,0,1
215,1,0,1,0,0,0,1,1,1,0,0,0,0,0,1,0
216,0,0,0,1,1,1,0,0,0,0,0,1,1,1,0,1

In [ ]:
# X_train = pd.DataFrame(np.array([[0, 0], [0, 1], [1, 0], [1, 1]]))
# #x_train = np.array([[0, 0], [0, 1], [1, 0], [1, 1]])
# y_train = pd.DataFrame(np.array([[0], [1], [1],[0]]))